.dropdown{
    display: inline-block;
    justify-items: center;


.dropdownName{
    border: 1.5px solid lightgrey;
    background-color: mintcream;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin: auto 10px;
    }

    .dropdownName:hover, .dropdownName:focus{
        opacity: .7;
    }

    .dropdownContents{
        // height: 240px;
        position: absolute;
        // position: relative;
        // display: block;
        // flex-direction: column;
        overflow:auto;
        border: 1px black;
        background-color: whitesmoke;
        z-index: 1;
        margin: auto 10px;
    }




}