.shopPage{

    margin: 10px;


    .storeContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    // grid-gap: 20px;
    // padding: 5px;
    // grid-row-gap: 50px;
    }
    h2{
        text-align: center;
    }

    .imgContainer{
        width: 300px;
        display: flex;
        flex-direction: column;
        height: 250px;
        align-items: center;
        position: relative;

        p{
            font-size: 18px;
        }

        .image {
            width: 100%;
            height: 95%;
            background-size: cover;
            background-position: center;
            margin-bottom: 5px;
            border-radius: 5px;
            border: 1px solid grey;
          }



    }

    .image:hover{
        cursor: pointer;
       opacity: .5;
        }
    

}


.navbar{
    height: var(--nav-size);
    // padding: 0 1rem;
    border-bottom: var(--border);
    justify-self: space-between;


    .navbar-nav{
        cursor: pointer;
        max-width: 100%;
       height: 100%;
        display:flex;
        justify-content: center;
        background: white;
    }
}