.shopPage{
    display: flex;   
    flex-direction: column;
    margin-top: 5%;

    .search{
       float: left;
    }

    .stores{
    margin-top: 5%;
    
    .storeContainer{      
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2%;
        margin: 0 auto;
        margin-bottom: 100px;
        

        @media screen and (max-width: 768px){
            grid-template-columns: 1fr;
        }
        
    }

    .imgContainer{
        width: 30vw;
        display: flex;
        flex-direction: column;
        height: 25vw;
        position: relative;
        

        @media screen and (max-width: 768px){
            width: 80vw;
            height: 67vw;
        }


        p{
            font-size: 1.2rem;
            // width: 100%;
            margin: 0;
            padding: 10px;
            // background-color: whitesmoke;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            // font-weight: bold;
            color: rgb(60, 60, 60)

        }

        p:hover{
            font-weight: bold;
            text-decoration: line-through;
        }

        .image {
            margin: 0 auto;
            width: 90%;
            height: 90%;
            background-size: cover;
            background-position: center;
            border-radius: 25%;
          }

    }

    .image:hover{
        cursor: pointer;
        opacity: .5;
        }
    
    }

}