.shopPage{
    display: flex;   
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 35px;

    .search{
       float: left;
    }

    .stores{
    margin-top: 5%;

    .storeContainer{      
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5%;
        margin: 0 auto;

        @media screen and (max-width: 768px){
            grid-template-columns: 1fr;
        }
        
    }

    .imgContainer{
        width: 30vw;
        display: flex;
        flex-direction: column;
        height: 25vw;
        position: relative;

        @media screen and (max-width: 768px){
            width: 80vw;
            height: 67vw;
        }


        p{
            font-size: 18px;
            width: 100%;
            margin: 0;
            padding: 5px;
            background-color: whitesmoke;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;

        }

        p:hover{
            font-weight: bold;
        }

        .image {
            width: 100%;
            height: 95%;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
          }

    }

    .image:hover{
        cursor: pointer;
        opacity: .5;
        }
    
    }

}