.join-us{

    // flex-direction: column;

    h1{
        text-align: center;
    }

    form{
        margin: 0px auto;
        padding: 10px;
        border: 5px solid white;
        max-width: 75%;
        margin-top: 5%;
        margin-bottom: 35px;

        @media screen and (max-width: 768px){
            max-width: 90%;
            border: none;
        }
    }

    label{
        margin: 2px;
        display: inline-flex;
    }

    input[type=text], input[type=email], select, textarea {
        border:none;
        border-radius: 4px;
        margin: 0 auto;
        resize: vertical;
        width: 95%;
        padding: 10px;
        display:flex;
        flex-direction: column;
        align-items: center;

      

    }

    textarea:focus, input:focus{
        border: none;
        background-color: linen;
    }


    textarea{
        height: 100px;
    }


    input[type=submit]{
        display: block;
        background-color: skyblue;
        font-size: 15px;
        padding: 5px 20px;
        margin: 0 auto;  
        cursor: pointer;  
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        
     }
        

    span{
        font-style: italic;
        font-size: 13px;
    }

}