.thank-you{

    padding-top: 5%;

    .main{
        font-size: 3.5vw;
        text-align: center;

    }

    .check-icon{
        width: 20%;
        display: block;
        margin: auto;

    }

    p{
        text-align: center;

    }

}