.header{
    // position: fixed;
    height: 56px;
    width: 100%;
    top:0;
    left:0;
    // background-color: linen;

    // margin-top: 5%;
    // display: flex;
    // justify-self: space-between;
    // margin-bottom: 30px;
    .header_nav{
  
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;

        }

    
    .logo-container{
        margin-left: 1rem;
        font-size: 1.5rem;
       
        text-decoration: underline;
        text-decoration-color: tan;
        text-decoration-style: wavy;
        text-decoration-thickness: .1em;

        @media screen and (min-width: 769px){
            margin-left: 0;
        }
    }

    .logo-container:hover{
       font-weight: bold;
    }

    .spacer{
        flex: 1;
    }

    .options{
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        @media screen and (max-width: 768px){
            display: none;
       }
    }


    .option{
        display: flex;
        font-size: 1.2rem;
        padding: 0px 2rem;
        // cursor: pointer;
    }

    .option:hover{
        text-decoration-line: overline underline;
        color: #99bbff; 
    }

}





