.form-check{
    margin-left: 10px;

  label{
     cursor: pointer;  
     
  }

  input {
    text-align: left;
    border: 1px solid #000;
}
    

  label:hover{
      background-color:linen;
      text-decoration:underline;
  }

  



}