.footer {
  
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: linen;
    height: 35px;


    @media screen and (max-width: 768px){
        display: none;
    }

    .footer-item{
        display: flex;
        cursor: pointer;
        margin: 0;
        justify-content: center;
    }

    .footer-item:hover{
        text-decoration-line: overline underline;
        color: #99bbff; 
    }

  }

