.footer {
  
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: linen;
    height: 35px;


    @media screen and (max-width: 768px){
        display: none;
    }

    p{
        text-align: center;
        margin: 0;
        cursor: pointer;
    }

    p:hover{
        text-decoration-line: overline underline;
        color: #99bbff; 
    }

  }

