body{
  background-color: #e6f2ff;
  font-family:"Source Code Pro";
  padding-top: 30px;
  margin: 10px;
}


a{
  text-decoration: none;
  color: black;
}

::selection{
  background: lightgrey;
}


ul {
  list-style: none;
}